

<form #loginForm="ngForm"  (ngSubmit)="onSubmit(loginForm);">
<p>
  study-ng-form works!
</p>
<input placeholder="FullName" #txtFullName="ngModel" ngModel name="fullname" required minlength="10">
<p *ngIf="txtFullName.touched && txtFullName.errors?.required"> Full name is required</p>
<p *ngIf="txtFullName.touched && txtFullName.errors?.minlength"> min length</p>
<br/>
<input placeholder="Email" [(ngModel)]="email" name="email" required>
<p *ngIf="loginForm.controls.email?.errors?.required">Email is required</p>
<input placeholder="Password" [(ngModel)]="password" name="password" required minlength="6">
<br/>
<div ngModelGroup="subject">
<label>Remember me?</label>
<input type="checkbox"ngModel name="chk">
<label>Remember me 2?</label>
<input type="checkbox" ngModel name="chk2">
<label>Remember me 3?</label>
<input type="checkbox" ngModel name="chk3">
</div>
<br/>
<button  [disabled]="loginForm.invalid">submit</button>
  
</form>
<p>{{loginForm.value | json}}</p>